/* General adjustments for better carousel layout */
/*-------------------- About page css ---------------- */
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 500px; 
  max-width: 100%;
  overflow: hidden; 
}

.slick-slide img {
  max-width: 100%; 
  height: auto;
  object-fit: cover; 
}

/* Carousel container adjustments */
#project .slick-slider {
  width: 80%; 
  margin: 0 auto; 
  position: relative;
  z-index: 2; 
}

#about, #skill, #resume, #social{
  z-index: 2;
  position: relative;
}

.carousel img{
  width: 100%;
  height: auto;
}

.bubble-container {
  pointer-events: none;
  overflow: hidden;
}

.bubble {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  animation: bubble-animation 7s infinite linear;
  bottom: -50px; 
}

@keyframes bubble-animation {
  0% {
    transform: translateY(100vh) scale(0.5);
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
  }
}

@keyframes moveLines {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.animate-moveLines {
  animation: moveLines 2s linear infinite;
}
